%p
  Hola
  = @user.name
  \. Necesitamos que completes un par de datos antes de que puedas votar.

- @user.errors.full_messages.each do |m|
  %p= m

= form_for @user, :url => sign_up_path, :method => :post do |f|
  .field
    = f.label :rol, 'ROL USM (sin puntos ni gui칩n)'
    = f.text_field :rol
    .clear
  
  .field
    = f.label :rut, 'RUT (sin puntos ni gui칩n)'
    = f.text_field :rut
    .clear

  .field
    = f.label :carreer, 'Carrera'
    = f.select :carreer, ['Inform치tica', 'Mec치nica']
    .clear

  .field
    %button{:type => 'submit', :class => 'button small green'}
      %span Enviar &rarr;
    .clear