.poll
  &rarr;
  = link_to poll.question, poll
  .meta
    - if poll.open?
      %span.open abierta
    - elsif poll.not_started?
      %span.closed aun no empieza
    - else
      %span.closed cerrada
      \|
      %span.results= link_to "ver resultados", results_poll_path(poll), :remote => true
    - if poll.open?
      \|
      cierra en
      = distance_of_time_in_words(Time.now, poll.finish_date)
    \|
    = poll.created_at.strftime '%d/%m/%Y'
  %div.results-container{:id => "results_#{poll.id}"}

.separator