!!! 5
%html
  %head
    %title= Voting.config.site_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{:class => "#{params[:controller].parameterize}"}
    .container_12
      .grid_8.prefix_2.suffix_2.header
        %h1= link_to "Sistema de votaciones online USM", root_path
        - if signed_in?
          .menu
            Estás conectado como
            = current_user.full_name
            \|
            = link_to "Salir", logout_path, :method => :delete
      .clear
      .grid_8.prefix_2.suffix_2.header
        .news Ya que muchos han preguntado, colocaré esto acá. No me es posible validar que un alumno sea o no del Campus San Joaquín, dado que no tengo esa información. Necesitaría una lista con roles de alumnos de San Joaquín (validar la carrera tampoco es suficiente, hay gente que se cambia de carrera). Lamentablemente, este sistema sólo puede basarse en la honestidad de la gente que lo utilice.
      .clear
      .grid_8.prefix_2.suffix_2= yield
      .clear
      .grid_8.prefix_2.suffix_2.footer
        By
        %a{:href => "http://twitter.com/Synt4x", :target => '_blank'} Ian Murray
        ·
        Hosted @ 
        %a{:href => "http://linkworks.cl", :target => '_blank'} Linkworks
        ·
        El código de este sistema está disponible en 
        %a{:href => "https://github.com/ianmurrays/usm-voting", :target => '_blank'} GitHub
      .clear
    %script{:type => 'text/javascript'}
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-587159-12']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();