<!DOCTYPE html>
<html>
<head>
  <title>Voting</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
Hola <%= current_user.name %>.
<% end %>
<%= yield %>

</body>
</html>
