!!! 5
%html
  %head
    %title Voting
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{:class => "#{params[:controller].parameterize}"}
    .container_12
      .grid_8.prefix_2.suffix_2= yield
      .clear
      .grid_8.prefix_2.suffix_2.footer
        by
        %a{:href => "http://twitter.com/Synt4x"} Ian Murray
        \/
        Hosted @ 
        %a{:href => "http://linkworks.cl"} Linkworks
      .clear