!!! 5
%html
  %head
    %title= Voting.config.site_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{:class => "#{params[:controller].parameterize}"}
    .container_12
      .grid_8.prefix_2.suffix_2.header
        %h1= link_to "Sistema de votaciones online USM", root_path
        - if signed_in?
          .menu
            Estás conectado como
            = current_user.full_name
            \|
            = link_to "Salir", logout_path, :method => :delete
      .clear
      .grid_8.prefix_2.suffix_2= yield
      .clear
      .grid_8.prefix_2.suffix_2.footer
        By
        %a{:href => "http://twitter.com/Synt4x", :target => '_blank'} Ian Murray
        ·
        Hosted @ 
        %a{:href => "http://linkworks.cl", :target => '_blank'} Linkworks
        ·
        El código de este sistema está disponible en 
        %a{:href => "https://github.com/ianmurrays/usm-voting", :target => '_blank'} GitHub
      .clear